<link rel="stylesheet" href="/style.css">
<form action="/mealplans" method="POST">
    <label for="name">Name:</label>
    <input type="text" id="title" name="name" required>

    <label for="description">Description:</label>
    <textarea id="description" name="description" required></textarea>

    <button type="submit">Create Meal Plan</button>
</form>



