<h1>Your Meal Plans</h1>
<ul>
  {{#each mealPlans}}
    <li>
      <h3>{{this.name}}</h3>
      <button onclick="deleteMealPlan('{{this._id}}')">Delete</button>
    </li>
  {{/each}}
</ul>
<script>
  async function deleteMealPlan(id) {
    const response = await fetch(`/api/meal-plans/${id}`, { method: 'DELETE' });
    if (response.ok) {
      alert('Meal Plan deleted!');
      location.reload();
    } else {
      alert('Failed to delete meal plan');
    }
  }
</script>
